

body{
margin: 0;
background-color: rgb(38, 40, 46);
color: rgb(226, 226, 226);
}


:root{
   
}


.navbar-container{
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-top: 50px;
   align-items: center;
   justify-content: center;
      background-color: rgb(37, 37, 37);
}

.navbar{
   width: 80%;
   list-style-type: none;
   display: flex;
   flex-direction: row;
   padding: 0;
   margin: 0;
  
justify-content: center;
}


.nav-item a{
display: block;
padding: 10px;
text-decoration: none;
color: white;
font-size: large;



}

.nav-item:first-child{
   margin-right: auto;

}



.home-main-header{
   display: grid;
   grid-template-columns: 2;
   grid-template-rows: 1;
   margin: 20px;
}

.home-personal-intro{
   border: 2px solid rgb(50, 55, 68);
   max-width: 40%;
   border-radius: 15px;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 40px;
   padding-bottom: 40px;
   aspect-ratio: 2/1;

}

.home-personal-intro p{
   font-size: large;
   margin-top: 20px
}




.container{
   padding: 20px;
}

.containter-row{
   width: 100%;
   display: flex;
   flex-direction: row;
}
.container-columns{
   width: 100%;
   display: flex;
   flex-direction: column;
}

.spg-projects-feed{
   width: 100%;
   display: flex;
   flex-direction: row;
}
.spg-prjc-feed-item{
   max-width: 20%;
}


.spg-updates-wrapper{
   width: 90%;
}
.spg-updates-container{
   border-top: 2px solid rgb(105, 105, 105);
}


.spg-feed-item{
   max-width: 25%;
   aspect-ratio: 1/1;
   padding: 50px;
   padding-right: 5%;
   padding-left: 5%;
  margin: 25px;
  background-color: rgb(31, 31, 31)   ;

}
.spg-feed-item a{
   text-decoration: none;
   color: white;
}
.spg-feed-item a:hover{

   color: rgb(17, 227, 255);
}




.spg-feed-item img{
 width: 100%;
}


.updates-feed{
   display: flex;
   flex-direction: row;
}

.spg-wide-link{
   width: 100%;
   height: 50px;
   font-size: large;
   text-align: center;
}
.spg-wide-link a{
   height: 100%;
      width: 100%;
   display: flex;
   color: white;
   border-radius: 15%;
   flex-direction: column;
   align-items: center;
 justify-content: center;


   background-color: rgb(123, 127, 128);
   text-decoration: none;
   font-weight: bold  ;
   
}
.spg-wide-link a:hover{
   background-color: rgb(0, 204, 255);
      color: rgb(0, 0, 0);
      font-weight: bolder;
      font-size: x-large;
}

footer{
   margin-top: 50px;
   min-height: 150px;
 background-color: rgb(37, 37, 37);
}


/*/----------------THE LIST SITES-------------------------------------------------------------------*/
.container-item-list
{
 
  min-height: 100vh;
   display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;


}

.containter-row-sidebar{
   margin-left: 50px;
   margin-right: 50px;
   width: 100%;
   display: flex;
   flex-direction: row;
   
}


/*--ITEM LIST-----------------------*/

.spg-list-item{
   display: block;
}




/*--FILTERING SIDEBAR--*/

.filter-container{
   min-width: 200px;
   display: flex;
   flex-direction: column;
   align-items: end;
   margin: 50px;
   padding: 20px;
}

.filter-header{
   margin-right: auto;
}

.filter-item{
   width: 100%;
   margin: 10px;
  
   margin-left: auto;
   display: flex;
   flex-direction: row;
   
   
}

.hide{
   display:none;
}

