body {
   margin: 0;
   background-color: rgb(38, 40, 46);
   color: rgb(226, 226, 226);
}

#TriBarBtn {
   display: flex;
   flex-direction: column;
   font-size: xx-large;
   text-align: center;
   justify-content: center;
   margin-left: 10px;
   margin-right: 10px;
   display: none;
}

#TriBarBtn:hover {
   cursor: pointer;
}


.navbar-container {
   display: flex;
   flex-direction: row;
   width: 100%;
   margin-top: 50px;
   align-items: center;
   justify-content: center;
   background-color: rgb(37, 37, 37);
}

.navbar {
   width: 80%;
   list-style-type: none;
   display: flex;
   flex-direction: row;
   padding: 0;
   margin: 0;

   justify-content: center;
}


.nav-item a {
   display: block;
   padding: 10px;
   text-decoration: none;
   color: white;
   font-size: large;



}

.nav-item:first-child {
   margin-right: auto;

}



.home-main-header {
   display: grid;
   grid-template-columns: 2;
   grid-template-rows: 1;
   margin: 20px;
}

.home-personal-intro {
   border: 2px solid rgb(50, 55, 68);
   max-width: 40%;
   border-radius: 15px;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 40px;
   padding-bottom: 40px;
   aspect-ratio: 2/1;
   background-color:#1B2430;
  box-shadow:   0 4px 12px rgba(234, 234, 234, 0.7);
    
    
font-family: 'Fira Code', 'Source Code Pro', monospace;
}
/**-----------------------------------*/
.intro-cmd{
  color:rgb(77, 255, 0);
   font-size: 20px;
   line-height: 2.5;
}
.intro-res-h1-blue{
   font-size: xx-large;
   color:rgb(0, 255, 255)
}

.intro-res-h2-orange{
      font-size: x-large;
   color: orange;
}
.intro-res{
        font-size: large;
color:rgb(255, 216, 41);
}
.intro-txt-red{
   color:red;
}

.intro-res-blue{
   
   color: rgb(109, 255, 238) ;
}


/**-----------------------------------*/

.container {
   
   width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}





.spg-updates-wrapper {
   width: 90%;
}

.spg-updates-container {
   border-top: 2px solid rgb(105, 105, 105);

}






.spg-wide-link {
   width: 100%;
   height: 50px;
   font-size: large;
   text-align: center;
}

.spg-wide-link a {
   height: 100%;
   width: 100%;
   display: flex;
   color: white;
   border-radius: 15%;
   flex-direction: column;
   align-items: center;
   justify-content: center;


   background-color: rgb(123, 127, 128);
   text-decoration: none;
   font-weight: bold;

}

.spg-wide-link a:hover {
   background-color: rgb(0, 204, 255);
   color: rgb(0, 0, 0);
   font-weight: bolder;
   font-size: x-large;
}

footer {
   margin-top: 50px;
   min-height: 150px;
   background-color: rgb(37, 37, 37);
}


/*/----------------THE LIST SITES-------------------------------------------------------------------*/



.containter-row-sidebar {
  
   width: 100%;
   display: flex;
   flex-direction: row;
   
}


/*--ITEM LIST-----------------------*/

.site-middle-container{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.site-header{
   width: 100%;
color: rgb(255, 149, 0);
padding-top: 25px;
padding-bottom: 25px;
font-size: 50px;
margin: 0;

border-bottom: 2px solid #30323a;

text-align: center;

}


/*--FILTERING SIDEBAR--*/
#filtersCloseBtnId{
   display: none;
}

.filter-container {
   min-width: 200px;
  max-width: 350px;
   display: flex;
   flex-direction: column;
   align-items: end;

   padding-left: 50px;
   padding-right: 40px;
   border-right: 2px solid #30323a;
   background-color: #1f242a;
 
}

.filter-header {
   margin-right: auto;
}

.filter-item {
   width: 100%;
   margin: 10px;

   margin-left: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;


}
.filter-item input{
   margin: 10px;
     width: 20px;
  height: 20px;
  
  background-color: #1B2430;
  accent-color: rgb(195, 0, 255);
  cursor: pointer;
  position: relative;
}



.filters-list {
   width: 100%;
   padding-top: 190px;
   max-width: 250px;

}
.filters-group{
   margin-bottom: 10vh;
   background-color: rgb(24, 26, 31);
   padding: 10px;
   border-radius: 20px;
   box-shadow: 0 2px 8px rgba(69, 86, 67, 0.4);
   
}
.filters-group h4{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2e7d0cf0;
font-size: large;

text-transform: uppercase;

}

.filters-group label{

   cursor: pointer;
}

.filter-unchecked{
     color: rgb(52, 120, 5);
}
.filter-unchecked input[type="checkbox"]{
   filter:brightness(0.6)
}


#filtersCloseBtnId:hover{
   cursor: pointer;
   background-color: rgb(90, 90, 90);
}

.filter-checked{
   color:rgb(0, 255, 0);
}
.filter-unchecked input[type="checkbox"]{
   filter:brightness(0.6);
}


/*---------LOAD MORE-------------------------------------*/
#loadMoreBtn {

width: 100%;
height: 50px;
border: none;
background-color: #30333a;
color: white;
font-size: large;

}

.load-more-cont{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   

}

#loadMoreBtn:hover {
   cursor: pointer;
   background-color: #444954;
color: white;
}



/**------SITE TEMPLATE PRESET STYLES--CONTENT PRESETS-----------------------------------------------------------------------------------------------------------------**/
.siteTxt{
   margin-top: 30px;
   margin-bottom: 30px;
   
   line-height: 30px;
   text-indent: 30px;
   font-size: large;
   
   
}
.content-page-container{
   padding-left: 20%;
   padding-right: 20%;
}
.content-page-title-center{
   text-align: center;
}

.content-img-left{
     margin-right: 30px;
 width: 50%;
 float: left;
}
.content-img-left img{
   width: 100%
}
.content-img-right{
   margin-left: 30px;
   float: right;
   width: 50%;

}

.content-img-right img{
   width: 100%;
}
.content-img-center-large{


   width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.content-img-center-large img{
width: 100%;
}

/*----------------------------------------------*/

.spg-updates-title{
   width: 100%;
   margin-top: 50px;
   padding-left: 50px;
   color:rgb(250, 152, 40);
      font-size: xx-large;
        border-top:2px solid rgb(80, 80, 80);
}


@media (max-width: 800px) {
   body{
      overflow-x: hidden;
   }

   /**-CONTENT PRESETS-------------------------------*/
   .content-page-container{
   padding-left: 10%;
   padding-right: 10%;
   }
   .content-img-left{
      margin: 0;
      float:none;
      width: 100%;
        flex-direction: column;
      align-items: center;
   }
   .content-img-right{
      margin: 0;
      float: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   /*---CMD----------------------*/
  
   .intro-cmd{
  
   font-size: 12px;
   line-height: 2.5;
   
}
.intro-res-h1-blue{
   font-size: large;
  
}

.intro-res-h2-orange{
      font-size: 15px;

}
.intro-res{
        font-size: 12px;

}
.intro-txt-red{
     font-size: 12px;
}

.intro-res-blue{
   
   color: rgb(109, 255, 238) ;
}

.spg-updates-title{
padding: 0;
   display: flex;
   flex-direction: column;
  align-items: center;
  font-size: large;


  
}


   /* NAVBAR --------------------------------------------------*/
   #TriBarBtn {

      display: flex;
      flex-direction: column;
      margin-bottom: auto;
   }

   .navbar {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .nav-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: none;
   }

   .nav-item a {
      width: 100%;
      text-align: center;
   }

   .navbar :first-child {
      width: auto;
      display: flex;
   }

   /*-*------------------------------------*/
   .home-main-header {
        
      width: 100%;
      display: flex;
      flex-direction: column;
        justify-content: center;

      margin-top: 50px;
    
    
   }

   .home-personal-intro {
      width: 80%;
      border: 2px solid rgb(50, 55, 68);
      max-width: 100%;
      border-radius: 15px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 40px;
      padding-bottom: 40px;
      aspect-ratio: unset;
      font-size: small;

   }







   /*-------   FILTERS AND CONTENT ON CONTENT SITE----------------------------------------*/
   .filters-list{
      display: none;
      
   }

   .containter-row-sidebar {
      
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   margin: 0;
   padding: 0;
   }

   .filter-container{
      width: 100%;
      max-width: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
      border:none;
     
   }

  
#filtersCloseBtnId{
   width: 100%;
  display: block;
  text-align: center;
  background-color: rgb(49, 49, 49);
  padding: 5px;


}

.filters-list-shown{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
  
}


.site-header{
width: 100%;
   margin: 0;
     margin-top: 20px; 

}

.filters-group{
   margin: 10px;
}

.filter-item{
   margin: 0;
   padding: 0;
}
}