body {
   margin: 0;
   background-color: rgb(38, 40, 46);
   color: rgb(226, 226, 226);
}

#TriBarBtn {
   display: flex;
   flex-direction: column;
   font-size: xx-large;
   text-align: center;
   justify-content: center;
   margin-left: 10px;
   margin-right: 10px;
   display: none;
}

#TriBarBtn:hover {
   cursor: pointer;
}


.navbar-container {
   max-height: 70px;
   display: flex;
   flex-direction: row;
   width: 100%;
   margin-top: 50px;
 
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(to right, rgb(29, 33, 43), rgb(21, 26, 39));
   border-bottom: 5px solid rgb(24, 43, 62);
}

.navbar {
   width: 80%;
   list-style-type: none;
   display: flex;
   flex-direction: row;
   padding: 0;
   margin: 0;

   justify-content: center;
}


.nav-item a {
   display: flex;
   align-items: center;
      padding: 10px;
      margin-left: 5px;
      margin-right: 5px;
   height: 50px;

   text-decoration: none;
   color: rgb(100, 173, 79);
   font-size: 2.1svb;
   font-weight: bolder;
 



}
  .nav-item-current a{
      color: rgb(162, 91, 255);
   }
.nav-item a:hover{
   color: rgb(4, 255, 0);
   
}


.nav-item:first-child {
   margin-right: auto;

}



.home-main-header {
   display: grid;
   grid-template-columns: 2;
   grid-template-rows: 1;
   margin: 20px;
}

.home-personal-intro {
   margin-top: 40px;
   border: 2px solid rgb(50, 55, 68);
   max-width: 40%;
   border-radius: 15px;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 40px;
   padding-bottom: 40px;
   aspect-ratio: 2/1;
   background-color:#0a1421;
  box-shadow:   0 4px 12px rgba(234, 234, 234, 0.7);

    
    
font-family: 'Fira Code', 'Source Code Pro', monospace;
}

#cmdTerminalPowerBtn{
      width: 35px;
      position: relative;
      font-weight:bolder;
      font-size: x-large;
      left: 45%;
      bottom:50px;
        min-height: 20px;
        border-radius: 10px;
        padding: 2px;
   display: flex;
   flex-direction: row;
align-items: center;
justify-content: center;


   color: rgb(176, 14, 14);
   font-weight: bolder;
   text-align: center;
  
background-color:  rgb(38, 124, 30);

   

}
#cmdTerminalPowerBtn:hover{
   background-color: rgb(0, 255, 60);
   cursor: pointer;
}


/**-----------------------------------*/
.intro-cmd{
  color:rgb(77, 255, 0);
   font-size: 20px;
   line-height: 2.5;
}
.intro-res-h1-blue{
   font-size: xx-large;
   color:rgb(0, 255, 255)
}

.intro-res-h2-orange{
      font-size: x-large;
   color: orange;
}
.intro-res{
        font-size: large;
color:rgb(255, 216, 41);
}
.intro-txt-red{
   color:red;
}

.intro-res-blue{
   
   color: rgb(109, 255, 238) ;
}


/**-----------------------------------*/

.container {
   
   width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}






footer {
   margin-top: 50px;
   min-height: 150px;
   background-color: rgb(37, 37, 37);
}


/*/----------------THE LIST SITES-------------------------------------------------------------------*/



.containter-row-sidebar {
  
   width: 100%;
   display: flex;
   flex-direction: row;
   
}


/*--ITEM LIST-----------------------*/

.site-middle-container{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.site-header{
   width: 100%;
color: rgb(255, 149, 0);
padding-top: 25px;
padding-bottom: 25px;
font-size: 50px;
margin: 0;

border-bottom: 2px solid #30323a;

text-align: center;

}


/*--FILTERING SIDEBAR--*/
#filtersCloseBtnId{
   display: none;
}

.filter-container {
   min-width: 200px;
  max-width: 350px;
   display: flex;
   flex-direction: column;
   align-items: end;

   padding-left: 50px;
   padding-right: 40px;
   border-right: 2px solid #30323a;
   background-color: #1f242a;
 
}

.filter-header {
   margin-right: auto;
}

.filter-item {
   width: 100%;
   margin: 10px;

   margin-left: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;


}
.filter-item input{
   margin: 10px;
     width: 20px;
  height: 20px;
  
  background-color: #1B2430;
  accent-color: rgb(195, 0, 255);
  cursor: pointer;
  position: relative;
}



.filters-list {
   width: 100%;
   padding-top: 190px;
   max-width: 250px;

}
.filters-group{
   margin-bottom: 10vh;
   background-color: rgb(24, 26, 31);
   padding: 10px;
   border-radius: 20px;
   box-shadow: 0 2px 8px rgba(69, 86, 67, 0.4);
   
}
.filters-group h4{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2e7d0cf0;
font-size: large;

text-transform: uppercase;

}

.filters-group label{

   cursor: pointer;
}

.filter-unchecked{
     color: rgb(52, 120, 5);
}
.filter-unchecked input[type="checkbox"]{
   filter:brightness(0.6)
}


#filtersCloseBtnId:hover{
   cursor: pointer;
   background-color: rgb(90, 90, 90);
}

.filter-checked{
   color:rgb(0, 255, 0);
}
.filter-unchecked input[type="checkbox"]{
   filter:brightness(0.6);
}


/*---------LOAD MORE-------------------------------------*/
#loadMoreBtn {

width: 100%;
height: 50px;
border: none;
background-color: #30333a;
color: white;
font-size: 1rem;

}

.load-more-cont{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   

}

#loadMoreBtn:hover {
   cursor: pointer;
   background-color: #444954;
color: white;
}


.homepage-more-link{
   width: 100%;
}
.homepage-more-link a{
   display: block;
   text-align: center;
   color: rgb(49, 144, 12);
   width: 35%;
   text-decoration: none;
   font-size: 1rem;
   background-color: #0a1421;


   padding: 15px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
  
 

   

box-shadow:   0 4px 12px rgba(0, 0, 0, 0.7);
  }
.homepage-more-link a:hover{
   color:rgb(43, 255, 0);
      background-color: #030c25;
      box-shadow:   0 4px 12px rgba(81, 81, 81, 0.7);
}




.spg-updates-title{
   width: 100%;
   margin-top: 50px;
   
   color:rgb(250, 152, 40);
      font-size: xx-large;
        border-top:2px solid rgb(80, 80, 80);
}
.spg-updates-title h1{
   padding-left: 50px;
}



.cmd-cursor {
    border-right: 10px solid rgb(0, 255, 0);
    max-width: 4px;
    margin-left: 5px;
    animation-name: cursor;                
    animation-duration: 1.3s;                
    animation-iteration-count: infinite;   
}

@keyframes cursor {
    0%, 100% { opacity: 1; }            
    50% { opacity: 0; }                    
}

@media (max-width: 800px) {
   body{
      overflow-x: hidden;
   }

   /**-CONTENT PRESETS-------------------------------*/
   .content-page-container{
   padding-left: 10%;
   padding-right: 10%;
   }
   .content-img-left{
      margin: 0;
      float:none;
      width: 100%;
        flex-direction: column;
      align-items: center;
   }
   .content-img-right{
      margin: 0;
      float: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   /*---CMD----------------------*/
  
   .intro-cmd{
  
   font-size: 12px;
   line-height: 2.5;
   
}
.intro-res-h1-blue{
   font-size: large;
  
}

.intro-res-h2-orange{
      font-size: 15px;

}
.intro-res{
        font-size: 12px;

}
.intro-txt-red{
     font-size: 12px;
}

.intro-res-blue{
   
   color: rgb(109, 255, 238) ;
}

.spg-updates-title{
padding: 0;
   display: flex;
   flex-direction: column;
  align-items: center;
  font-size: large;


  
}


   /* NAVBAR --------------------------------------------------*/

   
.navbar-container {
   max-height: unset;
}
   #TriBarBtn {

      height:70px;
      display: flex;
      flex-direction: column;
      margin-bottom: auto;
 
    
      
   }

   .navbar {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .nav-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: none;
   }

   .nav-item a {
      width: 100%;
      text-align: center;
   }

   .navbar :first-child {
      width: auto;
      display: flex;
   }
 
   /*-*------------------------------------*/
   .home-main-header {
        margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
        justify-content: center;
        align-items: center;

      margin-top: 50px;
    
    
   }

   .home-personal-intro {
      width: 80%;
      border: 2px solid rgb(50, 55, 68);
      max-width: 100%;
      border-radius: 15px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 40px;
      padding-bottom: 40px;
      aspect-ratio: unset;
      font-size: small;
    min-height: 30vh;


   }

#cmdTerminalPowerBtn{
  left:35%;
   bottom: 50px;
}





   /*-------   FILTERS AND CONTENT ON CONTENT SITE----------------------------------------*/
   .filters-list{
      display: none;
      
   }

   .containter-row-sidebar {
      
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   margin: 0;
   padding: 0;
   }

   .filter-container{
      width: 100%;
      max-width: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
      border:none;
     
   }

  
#filtersCloseBtnId{
   width: 100%;
  display: block;
  text-align: center;
  background-color: rgb(49, 49, 49);
  padding-top: 5px;
  padding-bottom: 5px;


}

.filters-list-shown{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
  
}


.site-header{
width: 100%;
   margin: 0;
     margin-top: 20px; 

}

.filters-group{
   margin: 10px;
}

.filter-item{
   margin: 0;
   padding: 0;
}
}