body {
   margin: 0;
   background-color: rgb(38, 40, 46);
   color: rgb(226, 226, 226);
}

#TriBarBtn {
   display: flex;
   flex-direction: column;
   font-size: xx-large;
   text-align: center;
   justify-content: center;
   margin-left: 10px;
   margin-right: 10px;
   display: none;
}

#TriBarBtn:hover {
   cursor: pointer;
}


.navbar-container {
   display: flex;
   flex-direction: row;
   width: 100%;
   margin-top: 50px;
   align-items: center;
   justify-content: center;
   background-color: rgb(37, 37, 37);
}

.navbar {
   width: 80%;
   list-style-type: none;
   display: flex;
   flex-direction: row;
   padding: 0;
   margin: 0;

   justify-content: center;
}


.nav-item a {
   display: block;
   padding: 10px;
   text-decoration: none;
   color: white;
   font-size: large;



}

.nav-item:first-child {
   margin-right: auto;

}



.home-main-header {
   display: grid;
   grid-template-columns: 2;
   grid-template-rows: 1;
   margin: 20px;
}

.home-personal-intro {
   border: 2px solid rgb(50, 55, 68);
   max-width: 40%;
   border-radius: 15px;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 40px;
   padding-bottom: 40px;
   aspect-ratio: 2/1;

}

.home-personal-intro p {
   font-size: large;
   margin-top: 20px
}




.container {
   padding: 20px;
}


.latest-projects-feed {
   width: 100%;
   display: flex;
   flex-direction: row;
}




.spg-updates-wrapper {
   width: 90%;
}

.spg-updates-container {
   border-top: 2px solid rgb(105, 105, 105);
}


.spg-feed-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: auto;
   aspect-ratio: 1/1;

   margin: 25px;
   background-color: rgb(31, 31, 31);


}

.spg-feed-item a {
   width: 90%;
   display: flex;
   flex-direction: column;

   text-decoration: none;
   color: white;
   padding: 50px;


}
.spg-feed-item h1{
   text-align: center;
}
.spg-feed-item p{
   font-size: larger;
}

.spg-feed-item a:hover {

   color: rgb(17, 227, 255);
}

.spg-feed-item img {
   width: 70%;
   align-self: center;
}





.spg-wide-link {
   width: 100%;
   height: 50px;
   font-size: large;
   text-align: center;
}

.spg-wide-link a {
   height: 100%;
   width: 100%;
   display: flex;
   color: white;
   border-radius: 15%;
   flex-direction: column;
   align-items: center;
   justify-content: center;


   background-color: rgb(123, 127, 128);
   text-decoration: none;
   font-weight: bold;

}

.spg-wide-link a:hover {
   background-color: rgb(0, 204, 255);
   color: rgb(0, 0, 0);
   font-weight: bolder;
   font-size: x-large;
}

footer {
   margin-top: 50px;
   min-height: 150px;
   background-color: rgb(37, 37, 37);
}


/*/----------------THE LIST SITES-------------------------------------------------------------------*/
.container-item-list {

   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;



}

.container-item-list .spg-feed-item {
   width: 50%;
}

.containter-row-sidebar {
   margin-left: 50px;
   margin-right: 50px;
   width: 100%;
   display: flex;
   flex-direction: row;

}


/*--ITEM LIST-----------------------*/

.spg-list-item {
   display: block;
}

.site-header{
   
     margin-top: 20px; 
   margin-left: 20%;
text-align: center;
}


/*--FILTERING SIDEBAR--*/
#filtersCloseBtnId{
   display: none;
}

.filter-container {
   min-width: 100px;
   display: flex;
   flex-direction: column;
   align-items: end;
   margin: 50px;
   padding: 20px;
}

.filter-header {
   margin-right: auto;
}

.filter-item {
   width: 100%;
   margin: 10px;

   margin-left: auto;
   display: flex;
   flex-direction: row;


}

.hide {
   display: none;
}

#loadMoreBtn {

   width: 80%;
   height: 50px;
   margin-left: 15%;
}

#loadMoreBtn:hover {
   cursor: pointer;
}

.load-more-btn {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.filters-list {
   display: block;
}



#filtersCloseBtnId:hover{
   cursor: pointer;
   background-color: rgb(90, 90, 90);
}

/**------SITE TEMPLATE PRESET STYLES--CONTENT PRESETS-----------------------------------------------------------------------------------------------------------------**/
.siteTxt{
   margin-top: 30px;
   margin-bottom: 30px;
   
   line-height: 30px;
   text-indent: 30px;
   font-size: large;
   
   
}
.content-page-container{
   padding-left: 20%;
   padding-right: 20%;
}
.content-page-title-center{
   text-align: center;
}

.content-img-left{
     margin-right: 30px;
 width: 50%;
 float: left;
}
.content-img-left img{
   width: 100%
}
.content-img-right{
   margin-left: 30px;
   float: right;
   width: 50%;

}

.content-img-right img{
   width: 100%;
}
.content-img-center-large{


   width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.content-img-center-large img{
width: 100%;
}

@media (max-width: 800px) {

   /**-CONTENT PRESETS-------------------------------*/
   .content-page-container{
   padding-left: 10%;
   padding-right: 10%;
   }
   .content-img-left{
      margin: 0;
      float:none;
      width: 100%;
        flex-direction: column;
      align-items: center;
   }
   .content-img-right{
      margin: 0;
      float: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

  

   /* NAVBAR --------------------------------------------------*/
   #TriBarBtn {

      display: flex;
      flex-direction: column;
      margin-bottom: auto;
   }

   .navbar {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .nav-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: none;
   }

   .nav-item a {
      width: 100%;
      text-align: center;
   }

   .navbar :first-child {
      width: auto;
      display: flex;
   }

   /*-*------------------------------------*/
   .home-main-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px;
   }

   .home-personal-intro {
      width: 80%;
      border: 2px solid rgb(50, 55, 68);
      max-width: 100%;
      border-radius: 15px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 40px;
      padding-bottom: 40px;
      aspect-ratio: unset;
      font-size: small;

   }




   /*----------------------------------------------*/
   .latest-projects-feed {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }


   .spg-feed-item {
      max-width: 70%;
      aspect-ratio:unset;
      padding: 50px;
      padding-right: 5%;
      padding-left: 5%;
      margin: 25px;
      background-color: rgb(31, 31, 31);
      font-size: x-small;

   }


   /*-------   FILTERS AND CONTENT ON CONTENT SITE----------------------------------------*/
   .filters-list{
      display: none;
   }

   .containter-row-sidebar {
      
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   margin: 0;
   }

   .filter-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 1%;
   }

   .container-item-list .spg-feed-item{
      width: 90%;
   }
#filtersCloseBtnId{
   width: 100%;
  display: block;
  text-align: center;
  background-color: rgb(49, 49, 49);
  padding: 5px;


}

.filters-list-shown{
   display: flex;
   flex-wrap: wrap;
}


.site-header{

   margin: 0;
     margin-top: 20px; 

}

}